body{
  height: 100%;
  width: 100%;
}
#root{
  background: url("../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.navs {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 1em;
  }
}
